# SPDX-FileCopyrightText: 2024 Henrik Sandklef
#
# SPDX-License-Identifier: GPL-3.0-or-later

cachetools
scancode-toolkit
foss-flame
python-magic
#requests
#requests[use_chardet_on_py3]
requests==2.28.1
packageurl-python
license_expression
#charset-normalizer==2.1.0
diskcache
packageurl-python
xmltodict
