# SPDX-FileCopyrightText: 2024 Henrik Sandklef
#
# SPDX-License-Identifier: GPL-3.0-or-later

cachetools
scancode-toolkit
foss-flame
python-magic
requests
packageurl-python
license_expression
chardet==5.0.0
